*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(51, 51, 51);
    height: 100vh;
}
body::-webkit-scrollbar{
    width: 0;
    background: transparent; 
}
.flex{
    display: flex;
}
.botaoContato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: #0055ff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
button:hover, form .botao_enviar input[type=submit]:hover{
    box-shadow: 0px 0px 8px rgba(0, 21, 255, 0.677);    
    transform: scale(1.1);
    transition: .3s;
}
h2.titulo{
    color: white;
    font-size: 34px;
    text-align: center;
}

header{
    padding: 40px 4%;    
    width: 100%;
    margin: 0 auto;
    background-color: #373b45;
}
header > .interface{
    display: flex;
    justify-content: space-between;
}


header .interface .logo:hover{
    transform: scale(1.1);
    transition: .2s;
}

section.topo_do_site{
    padding: 40px;
}
section.topo_do_site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
main > .interface{
    justify-content: space-between;
    
}
main{
    max-width: 1280px;
    margin: 0 auto;
}
.topo_do_site .topo_txt h1{
    color:white;
    font-size: 38px;
    line-height: 40px;
}
.topo_do_site .topo_txt p{
    color: white;
    margin: 40px 0;
}

.topo_do_site .topo_img img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}


section.especialidades{
    padding: 40px 4%;

}
section.especialidades .flex{
    gap: 30px;
}
.especialidades .especialidades_box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
}
.especialidades .especialidades_box:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.571);
    transform: scale(1.05);
    transition: .2s;
}
.especialidades .especialidades_box i{
    color: rgb(0, 145, 255);
    font-size: 70px;
    margin: 15px 0;
}
.especialidades .especialidades_box h3{
    font-size: 23px;
    margin: 15px 0 ; 
}
.especialidades .especialidades_box p{
    color: rgb(224, 237, 248);
}


section.sobre{
    padding: 80px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 50px;
}

.sobre .sobre_texto{
    color: white;
}
.sobre .sobre_texto h2{
    font-size: 60px;
    line-height: 45px;
    margin-bottom: 30px;
}

.sobre .sobre_texto p{
    margin: 20px 0;
    text-align: justify;
}

.botoes_sociais button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgb(0, 128, 255);
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transform: scale(1.1);
    transition: .2s;
}


section.formulario{
padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 100px;
}

form input, form textarea{
    width: 100%;
    background-color: rgb(36, 39, 62);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea{
    resize: none;
    max-height: 400px;
}

form .botao_enviar{
    margin-top: 20px;
    text-align: center;
}

form .botao_enviar input[type=submit]{
    width: 120px;
    background-color: rgb(0, 106, 255);
    color: black;
    font-weight: 700px;
    cursor: pointer;
}


footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(40, 40, 40, 0.77);
}

footer .flex{
    justify-content: space-between;
}

footer .linha_footer{
    padding: 40px 0;
}

.borda{
    border-bottom: 2px solid rgb(0, 115, 255);
}

footer .linha_footer p i{
    color: rgb(0, 149, 255);
    font-size: 22px;
}

footer .linha_footer p a{
    color: white;
}
